<table style="border-spacing: 0px; border-collapse: collapse; width: 100%;" border="0" cellpadding="0">
   <tbody>
   <tr>
   <td class="x_outer" style="font-family: Arial, sans-serif; min-width: 600px; border-collapse: collapse; background-color: #ebeff2; width: 100%;" valign="top">
   <table id="x_boxing" class="x_m_boxing" style="border-spacing: 0px; border-collapse: collapse; margin: auto; width: 640px;" border="0" cellpadding="0">
   <tbody>
   <tr>
   <td id="x_template-wrapper" class="x_mktoContainer x_boxedbackground" style="word-break: break-word; font-family: Arial,sans-serif; border-collapse: collapse;">
   <table id="x_hero" class="x_mktoModule x_m_hero" style="border-spacing: 0px; border-collapse: collapse; width: 100%;" border="0" cellpadding="0">
   <tbody>
   <tr>
   <td class="x_background" style="background-color: #232d37; width: 640px; height: 99px;" valign="top" data-imagetype="External">
   <div style="text-align: center;">
   <table class="x_table600" style="border-spacing: 0px; border-collapse: collapse; margin: auto; width: 580px;" border="0" cellpadding="0">
   <tbody>
   <tr>
   <td class="header" style="display: flex; justify-content: space-between; font-family: Arial, sans-serif; font-size: 3.75rem; line-height: 1.875rem; padding: 1rem 0 1rem 0;">
   <div id="x_title" class="header__cabecalho" style="display: flex; justify-content: space-between;"><img class="imgLogo" src="http://10.42.42.100/glpi/logo/LogoAtivusTemplate.png" alt="Logo Ativus"></div>
   <div class="informacao" style="display: flex; flex-direction: column; justify-content: center;"><span class="titulo" style="color: #ffffff; font-size: 1.5rem;"><strong>Ativus Gestão Empresarial </strong></span> <span class="subtitulo" style="color: #ffffff; font-size: 1.125rem;">Central de Chamados</span></div>
   </td>
   </tr>
   </tbody>
   </table>
   </div>
   <div class="status__info" style="font-size: 1rem; color: white; background-color: #aa0101; padding: 0.625rem;"><strong>Status</strong>: ##ticket.status##</div>
   </td>
   </tr>
   </tbody>
   </table>
   <table id="x_free-text" class="x_mktoModule x_m_free-text" style="border-spacing: 0px; border-collapse: collapse; width: 100%; margin: auto;" border="0" cellpadding="0">
   <tbody>
   <tr>
   <td style="word-break: break-word; font-family: Arial,sans-serif; border-collapse: collapse; background-color: #ffffff;" valign="top">
   <div style="text-align: center;">
   <table class="x_table600" style="border-spacing: 0px; border-collapse: collapse; margin: auto; width: 580px;" border="0" cellpadding="0">
   <tbody>
   <tr>
   <td style="word-break: break-word; font-family: Arial,sans-serif; border-collapse: collapse; line-height: 25px; font-size: 25px; height: 25px;"> </td>
   </tr>
   <tr>
   <td class="x_primary-font x_text" style="word-break: break-word; font-family: Arial,sans-serif; font-size: 14px; color: #333333; line-height: 170%; border-collapse: collapse;">
   <div class="solicitacao" style="background-color: #ccffcc; width: 35rem; padding: 0.625rem;"><strong>Solicitação</strong>: ##ticket.title## <br>##ticket.content##</div>
   <div id="x_text4" class="x_mktoText">
   <p style="text-align: justify;"><span style="font-size: 16px;"> Olá ##ticket.authors##, </span></p>
   <p style="text-align: justify;"><span style="font-size: 16px;">##IFticket.storestatus=5##</span></p>
   <p style="text-align: justify;"><span style="font-size: 16px;"> Informamos que temos uma solução para seu chamado:</span></p>
   <div style="text-align: center;">
   <table style="border: 1px solid #f4f4f4; border-collapse: collapse; font-size: 16px; width: 100%;" cellpadding="0">
   <tbody>
   <tr>
   <td style="background-color: #9fd6ed; background-image: url('http://10.42.42.100/glpi/pics/timeline/solution.png'); background-repeat: no-repeat; background-position: right; border: 1px solid #f4f4f4; border-collapse: collapse; width: 620px;" colspan="2">
   <p style="padding: 5px 5px 5px;"><strong>Solução</strong>: <br>##ticket.solution.description##</p>
   </td>
   </tr>
   <tr style="border: 1px solid #f4f4f4; border-collapse: collapse;">
   <td><strong>##lang.ticket.solvedate## :</strong> ##ticket.solvedate##</td>
   <td align="right"><a style="text-decoration: none; color: #000; padding: 10px 10px; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; background-color: #6fff81!important;" href="##ticket.urlapprove##"> Aprovar solução &gt;&gt;</a></td>
   </tr>
   </tbody>
   </table>
   <br>##lang.ticket.autoclosewarning## ##ENDIFticket.storestatus## ##FOREACHfollowups##
   <p style="text-align: justify;"><span style="font-size: 16px;"> Informamos que foi aberto um novo acompanhamento para seu atendimento. <strong>Veja abaixo:</strong></span></p>
   <table style="background-color: #e0e0e0; background-image: url('http://10.42.42.100/glpi/pics/timeline/followup.png'); background-repeat: no-repeat; background-position: right; border: 1px solid #f4f4f4; border-collapse: collapse; font-size: 12px; width: 100%;" cellpadding="0">
   <tbody>
   <tr>
   <td colspan="2">
   <p style="padding: 5px 5px 5px;"><strong>Acompanhamento</strong>: [##followup.date##] - ##followup.description##</p>
   </td>
   </tr>
   <tr style="border: 1px solid #f4f4f4; border-collapse: collapse;">
   <td style="width: 168px;"><strong>##lang.followup.isprivate## :</strong></td>
   <td style="width: 452px;" align="left">##followup.isprivate##</td>
   </tr>
   <tr style="border: 1px solid #f4f4f4; border-collapse: collapse;">
   <td style="width: 168px;"><strong>##lang.followup.author## :</strong></td>
   <td style="width: 452px;" align="left">##followup.author##</td>
   </tr>
   </tbody>
   </table>
   <br>##ENDFOREACHfollowups## ##ELSEticket.storestatus=new##
   <p style="text-align: justify;"><span style="font-size: 16px;"> Informamos que foi aberto um novo registro no Sistema de Atendimento a usuários! Na seguinte data: ##ticket.creationdate##</span></p>
   <p style="text-align: justify;"><span style="font-size: 16px;"> Este atendimento será gerenciado sob o seguinte protocolo:</span></p>
   <div style="text-align: center;"><strong><a class="x_primary-font x_button" style="display: inline-block; font-size: 14px; font-family: Arial,sans-serif; color: #000; text-decoration: none; background-color: #be0303b4; border-radius: 5px; padding: 12px 18px 12px 18px; border: 1px solid #ff0000;" href="##ticket.url##" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable">##ticket.id##</a></strong></div>
   ##ENDELSEticket.storestatus##
   <p><span style="font-size: 16px;">Sinta-se a vontade para acessar o Sistema para interagir ou buscar maiores detalhes sobre este atendimento a qualquer momento! </span></p>
   <p><span style="font-size: 16px;"> Aqui estão algumas informações sobre o chamado:</span></p>
   <ul style="text-align: left;">
   <li><span style="font-size: 14px;"><strong>Tipo: </strong>##ticket.type##</span></li>
   <li><span style="font-size: 14px;"><strong>Categoria: </strong> ##IFticket.category## ##ticket.category## ##ENDIFticket.category## ##ELSEticket.category## ##lang.ticket.nocategoryassigned## ##ENDELSEticket.category##</span></li>
   <li><span style="font-size: 14px;"><strong>Urgencia: </strong>##ticket.urgency##</span></li>
   <li><span style="font-size: 14px;"><strong>Localização: </strong>##ticket.location##</span></li>
   </ul>
   </div>
   </div>
   </td>
   </tr>
   <tr>
   <td style="word-break: break-word; font-family: Arial,sans-serif; border-collapse: collapse; line-height: 5px; font-size: 5px; height: 5px;"> </td>
   </tr>
   </tbody>
   </table>
   </div>
   </td>
   </tr>
   </tbody>
   </table>
   <table id="x_standard-image" class="x_mktoModule x_m_standard-image" style="border-spacing: 0px; border-collapse: collapse; width: 100%; margin: auto;" border="0" cellpadding="0">
   <tbody>
   <tr>
   <td style="word-break: break-word; font-family: Arial,sans-serif; border-collapse: collapse; background-color: #ffffff;" valign="top">
   <div style="text-align: center;">
   <table class="x_table600" style="border-spacing: 0px; border-collapse: collapse; margin: auto; width: 640px;" border="0" cellpadding="0">
   <tbody>
   <tr>
   <td style="word-break: break-word; font-family: Arial,sans-serif; border-collapse: collapse; line-height: 20px; font-size: 20px; height: 20px;"> </td>
   </tr>
   </tbody>
   </table>
   </div>
   </td>
   </tr>
   </tbody>
   </table>
   <table id="x_title5" class="x_mktoModule x_m_title" style="border-spacing: 0px; border-collapse: collapse; font-family: Arial,sans-serif; text-align: center; color: #32ad84; width: 100%; margin: auto;" border="0" cellpadding="0">
   <tbody>
   <tr>
   <td class="x_background" style="word-break: break-word; font-family: Arial,sans-serif; border-collapse: collapse; background-color: #ffffff;" valign="top"> </td>
   </tr>
   </tbody>
   </table>
   <table id="x_footer" class="x_mktoModule x_m_footer" style="border-spacing: 0px; border-collapse: collapse; width: 100%; margin: auto;" border="0" cellpadding="0">
   <tbody>
   <tr>
   <td style="word-break: break-word; font-family: Arial,sans-serif; border-collapse: collapse; background-color: #232d37; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;" valign="top">
   <div style="text-align: center;">
   <table class="x_table600" style="border-spacing: 0px; border-collapse: collapse; margin: auto; width: 580px;" border="0" cellpadding="0">
   <tbody>
   <tr>
   <td style="word-break: break-word; font-family: Arial,sans-serif; border-collapse: collapse; line-height: 20px; font-size: 20px; height: 20px;"> </td>
   </tr>
   <tr>
   <td style="word-break: break-word; font-family: Arial,sans-serif; border-collapse: collapse;">
   <div style="text-align: center;">
   <table class="x_table1-3" style="border-spacing: 0px; border-collapse: collapse; height: 119px; width: 389px; text-align: left;" border="0" cellpadding="0">
   <tbody>
   <tr style="height: 16px;">
   <td style="font-family: Arial, sans-serif; border-collapse: collapse; height: 16px; width: 387px;"><span style="color: #83909e; font-size: 12px;"><strong>Ativus Gestao Empresarial</strong> Central Helpdesk<br><span class="LrzXr">R. Marechal Deodoro Bairro: Sao José Nº2081<br></span></span><span style="color: #83909e; font-size: 12px;"><span class="LrzXr"> 85555-000, Palmas, PR, Brasil</span></span></td>
   </tr>
   </tbody>
   </table>
   </div>
   </td>
   </tr>
   <tr>
   <td style="word-break: break-word; font-family: Arial,sans-serif; border-collapse: collapse;"> </td>
   </tr>
   </tbody>
   </table>
   </div>
   </td>
   </tr>
   </tbody>
   </table>
   <table id="x_blankSpacea6849bce-b5d6-421a-9901-67787c142474" class="x_mktoModule x_m_blankSpace" style="border-spacing: 0px; border-collapse: collapse; width: 100%; margin: auto;" border="0" cellpadding="0">
   <tbody>
   <tr>
   <td style="word-break: break-word; font-family: Arial,sans-serif; border-collapse: collapse; background-color: #ebeff2;" valign="top">
   <table class="x_table600" style="border-spacing: 0px; border-collapse: collapse; margin: auto; height: 61px; width: 452px;" border="0" cellpadding="0">
   <tbody>
   <tr>
   <td class="x_primary-font x_title" style="font-family: Arial, sans-serif; font-size: 60px; line-height: 90%; color: #32ad84; text-align: left; border-collapse: collapse; width: 450px;">
   <div id="x_copyright" class="x_mktoText">
   <div class="x_p1" style="text-align: center;"><span style="color: #828f9d; font-size: 12px;"> © 2022 Ativus Gestao Empresarial - Todos os direitos reservados. </span></div>
   </div>
   </td>
   </tr>
   </tbody>
   </table>
   </td>
   </tr>
   </tbody>
   </table>
   </td>
   </tr>
   </tbody>
   </table>
   </td>
   </tr>
   </tbody>
   </table>